# Unity generated
XR/Library/
XR/Temp/
XR/obj/
XR/Logs/
XR/UserSettings/
XR/Build/
XR/Builds/
XR/Artifacts/
XR/PackageCache/

# IDE
*.csproj
*.sln
*.unityproj
*.user
*.tmp
.vscode/

# Misc
*.mdb
*.pdb
